@model Shared.ViewModels.ExameViewModel

@{
    ViewBag.Title = "Exame";
}

<h2>Excluir Exame</h2>

<div>
    <h4>Você tem certeza que deseja excluir?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoExame.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoExame.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a class="btn btn-primary" href=@Url.Action("Index", "Exames")>Voltar</a>
        </div>
    }
</div>
