<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" lang="pt-br"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MarkExams</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href=@Url.Action("Index", "Home")>MarkExams</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href=@Url.Action("Index", "Home")>
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Pacientes")>Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Exames")>Exames</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "TipoExames")>Tipos de Exames</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Consultas")>Consultas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @Html.Partial("_Notifications")
        @RenderBody()
        <hr />
        <footer>
            <div class="col align-center">
                <p>&copy; @DateTime.Now.Year - Desenvolvido por Manoel Geraldo</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
