@model IEnumerable<Shared.ViewModels.PacienteViewModel>

@{
    ViewBag.Title = "Paciente";
}

<div class="row g-3">
    <div class="col d-flex justify-content-start">
        <h2 class="me-2">Pacientes Cadastrados</h2>
        <a class="btn btn-success m-2" href=@Url.Action("NovoPaciente", "Pacientes")>Novo</a>
    </div>
</div>

<table class="table table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CPF)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataNascimento.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sexo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        <a class="btn btn-primary" href=@Url.Action("AlterarPaciente", "Pacientes", new { id = item.PacienteId })>Editar</a>
        <a class="btn btn-info" href=@Url.Action("VisualizarPaciente", "Pacientes", new { id = item.PacienteId })>Visualizar</a>
        <a class="btn btn-danger" href=@Url.Action("Excluir", "Pacientes", new { id = item.PacienteId })>Excluir</a>
    </td>
</tr>
}

</table>
